.footer{
    cursor: default;
}
.footer .footSocial{
    border-top: 1px solid var(--color-light-dark);
}
.footer .linksFooter-sm{
    display: none;
}

.footer a{
    transition: all .2s;
}
.footer a:hover{
    color: #ffffffbd !important;
}

@media screen and (max-width:767px) {
    .footer .linksFooter-lm{
        display: none;
    }
    .footer .linksFooter-sm{
        display: flex;
        justify-content: center;
        align-items: center;
        /* transition: all .3s; */
    }
    .footer .accordion-borderless 
    .accordion-item 
    .accordion-button:not(.collapsed){
        background-color:transparent;
        color: var(--color-light-dark);
    }
    .footer .accordion-button::after{
        margin-left:  5px !important;
    }
    .footer .accordion-button:not(.collapsed)::after{
        /* background-image: var(--color-light-dark) !important; */
        filter: grayscale(100%);
        color: var(--color-light-dark) !important;
    }


    .footer .accordion-borderless .accordion-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
    }
    .footer .accordion-borderless .accordion-button {
        font-weight: 700;
    }
}