.main-container{
    padding: var(--padding-primary);
    background-color: var(--body-bg-color);
    border-radius: var(--border-radius-primary);
    color: var(--color-light);
}
    

.container {
    max-width: unset;
    padding-top: 0;
    padding-bottom: 0;
    /* width: 100% !important; */
    /* padding: 15px; */
}

/* 
@media (  min-width: 576px  ){
    .container {
        max-width: unset;
        padding-top: 0;
        padding-bottom: 0;
    }
} */