.main-container{
    padding: var(--padding-primary);
    background-color: var(--body-bg-color);
    border-radius: var(--border-radius-primary);
    color: var(--color-light);
}
    

.container {
    max-width: unset;
    padding-top: 0;
    padding-bottom: 0;
}

@media ( max-width: 565px ){
    .main-container:has(.homePage) {
        background-color: var(--body-bg-color);
        padding: 10px;
    }
}


