.most-live-items{
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* gap: 1%; */
}

/* .most-live-items .just-for-pop{
    display: flex;
    flex: 1 100%;
} */

.profile-edit{ /* From button style*/
    margin-top: calc(var(--margin-primary) / 1.5);
}

/* .most-live-items  .card-wrapper {
    width: 300px;
} */





@media screen and (max-width:767px) {
    .live-title{
        direction: rtl;
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 20px;
    }
    .most-pop-live .section-wrapper{
        max-height: 680px;
        overflow-y: scroll;
    }
    .most-pop-live .section-wrapper::-webkit-scrollbar{
        width: 0;
    }
}


