.sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 10;
    width: 250px;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    transition: ease-in-out .7s;
}
.activeSideBar{
    left: 0px;
    box-shadow: 0px 0px 5px 1px #00000071 ;
}




.sidebar .sidebarBtn{
    position: absolute;
    top: 74px;
    left: 100%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    font-size: 14px;
    backdrop-filter: blur(20px);
    background-color: var(--color-dark);
    border: 1px solid var(--color-darkest);
    color: var(--color-light-dark);
    cursor: pointer;
    transition: all .3s;
}
.sidebar .sidebarBtn:hover{
    /* background-color: var(--color-primary); */
    border-color: var(--color-primary);
    color: var(--color-primary);
}
.sidebar .priBtn{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-light);
}
.sidebar .priBtn:hover{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-light);
}
/* @media screen and  (max-width:575px) {
    .sidebar .sidebarBtn{
        border: 1px solid var(--color-light-dark);
        color: var(--color-light-dark);
        top: 110px;
        left: 100%;
    }
} */



