.hero-main{
    display: none;
    padding: 0px;
    position: relative;
    cursor: default;
}
.hero-main:active{
    cursor: grab;
}

.hero-main .heroFilter{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 0deg, var(--hero-color), transparent, transparent );
    transition: all .3s;
}
.hero-main 
.carousel-control-prev, 
.carousel-control-next {
    display: none;
}
.hero-main .carousel-indicators{
    display: none;
}



.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-text .img-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}



@keyframes exam {
    0%   { top: -10px;}
    50%  { top: 0px;}
    100% { top: -10px;}
}
.hero-text .img-wrapper img{
   width: 325px;
   height: 350px;
   position: relative;
   top: 0;
   animation-name: exam;
   animation-duration:3s;
   animation-iteration-count: infinite;
   transition: all .5s;
}
.hero-text .img-wrapper img:hover{
    opacity: 0;
}



.hero-text h4{
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: var(--font-title-pc);
    font-weight: var(--font-weight-bold );
    color: var(--color-light);
}
.hero-text h6{
    margin-bottom: 15px;
}



.hero-main   .carousel-item img{
    filter: brightness(60%);
}

/* .carousel-indicators [data-mdb-target]{
    background-color: var(--color-primary) !important;
} */



@media screen and (min-width: 1200px) {
    .hero-main   .carousel-item {
        height: calc(100vh - 70px - 45px);
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 1200px) {
    .hero-text{
        top: 45%;
    }

    .hero-text .img-wrapper img{
        width: 275px;
        height: 300px;
    }
    
    .hero-text h4{
        font-size:  var(--font-title-tablet);
    }
    
    .hero-text h6{
        font-size:  var(--font-txt-tablet);        
    }
    .hero-text .primary-button .pri-btn {
        padding: 7px 20px ;
        font-size: var(--font-txt-tablet);
    }
}
@media screen and (max-width: 992px) {
    .hero-text{
        top: 45%;
    }

    .hero-text .img-wrapper img{
        width: 200px;
        height: 225px;
    }
    
    .hero-text h4{
        font-size:  var(--font-title-tablet);
    }
    
    .hero-text h6{
        font-size:  var(--font-txt-tablet);        
    }
    .hero-text .primary-button .pri-btn {
        padding: 7px 20px ;
        font-size: var(--font-txt-tablet);
    }
}
@media screen and (max-width: 767px) {
    .hero-text {
        top: 50%;
    }


    .hero-text .img-wrapper {
        display: none ;
    }
    
    .hero-text h4{
        font-size:  var(--font-title-tablet);
    }
    
    .hero-text h6{
        font-size:  var(--font-txt-mobile);        
    }
    .hero-text .primaryBtn span a {
        padding: 5px 15px ;
        font-size: var(--font-txt-mobile);
    }
}
@media screen and (max-width: 575px) {
    .hero-main{
        margin-bottom: 0;
    }
    .hero-text{
        gap: 5px;
    }
    .hero-text h4{
        font-size:  var(--font-title-tablet);
    }
    
    .hero-text h6{
        font-size:  var(--font-txt-mobile);        
    }
    /* .hero-main .heroFilter{
        background: linear-gradient( 0deg, var(--container-bg-color), transparent, transparent );
    } */
}
@media screen and (max-width: 492px) {
    .hero-text{
        width: 80%;
        top: 50%;
        gap: 0px;
    }
    .hero-text h4{
        font-size:  calc(var(--font-title-mobile));
    }
    
    .hero-text h6{
        font-size:  var(--font-txt-small);  
        margin-bottom: 20px;      
    }
    .hero-text .primaryBtn span a {
        padding: 6px 12px ;
        font-size: var(--font-txt-small);
    }

}
@media screen and (max-width: 323px) {
    .hero-text{
        top: 50%;
        gap: 0px;
    }


    .hero-text h4{
        font-size:  var(--font-title-mobile);
    }
    
    .hero-text h6{
        font-size:  var(--font-txt-small);  
        margin-bottom: 25px;      
    }

    .hero-text .primaryBtn span a {
        font-size:  calc(var(--font-txt-small) - 2px) !important;  
        padding: 4px 11px ;
        font-size: var(--font-txt-small);
    }

}







