.most-pop-live {
    position: relative;
    margin-bottom: var(--margin-primary);

}
.most-profile-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--body-bg-color);
}
.most-profile-items .section-header h4 {
    margin-bottom: 0 !important;
}

.profile-edit{ /* From button style*/
    margin-top: calc(var(--margin-primary) / 1.5);
}


#TrainingPlan .live-title {
    position: relative;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;

}







/* 
@media screen and (max-width:767px) {
    .live-title{
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 20px;
    }
}

@media screen and (max-width:494px){

    .live-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        font-size: 15px;
    }

} */
