.TopStreamers-page {
    direction: rtl;
    margin-bottom: var(--margin-primary);
}
.TopStreamers-page .related-title{
    display: flex;
    flex-direction:row;
    gap: 6px;
    margin-bottom: 10px;
}

.TopStreamers-page  .section-header h4{
    margin-bottom: 0;
}

.TopStreamers-page .slick-track{
    direction: rtl;
}
/* .TopStreamers-page .slick-dots{
    
} */





/*scroll*/
.TopStreamers-page  .download-games-items:active{
    cursor: grab;
}

.TopStreamers-page  .download-games-items::-webkit-scrollbar {
    width: 0px;
}





.TopStreamers-page .section-wrapper{
    margin: 0;
    padding: 0;
}
.TopStreamers-page  .download-games-items {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px;
}

.TopStreamers-page  .download-games-items li{

    border-bottom: 1px solid var(--color-dark); 
    transition: .4s;
}
.TopStreamers-page  .download-games-items li:hover{
    border-color: var(--color-primary); 
}



.TopStreamers-page  .view-all-games{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: -20px;
    color: var(--color-primary);
    font-weight: var(--font-weight-normal);
}

/* .TopStreamers-page ul{
    list-style-type: decimal-leading-zero !important;
}

.TopStreamers-page ul li{
    list-style-type: decimal-leading-zero !important;
} */






@media screen and (max-width:992px){
    .TopStreamers-page  .related-title{ 
        flex-direction:row;
        gap: 5px;
        margin-bottom: 10px;
        font-size: 25px; 
        
    }
}

