/*About Coaches*/
/* .aboutCoaches{
    direction: rtl;
    display: flex;
    gap: 50px;
} */

/*About Coaches*/


/*Content*/
.aboutCoaches .section-wrapper{
    flex: 1 100%;
    margin: 0;
}
/*Content*/


@media screen and (max-width:575px) {
    .aboutCoaches .section-header h4{
        display: flex;
        justify-content: center;
    }
}