@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');


:root {
    --body-bg-color          : var(--color-darkest);
    --container-bg-color     : var(--color-dark);
    --section-bg-color       : var(--color-dark);
    --header-bg-color        : var(--color-darkest);
    --nestedNav-bg-color     : var(--color-dark);
    --sidebar-bg-color       : var(--color-dark);
    --header-text-color      : var(--color-light-dark);
    --active-color           : var(--color-primary);
    --cardTitle-color        : #FFF3E0;
    --text-color             : var(--color-light-dark);
    --border-color           : var(--color-darkestPro);
    --hero-color             : var(--body-bg-color);




    --color-light-dark       : #666;
    --color-dark             : #27292a;
    --color-darkest          : #1f2122;
    --color-darkestPro       : #222;
    --color-light            : #FFF3E0;
    --color-primary          : #FF9100;
    --color-primary-light    : rgb(233, 168, 48);
    --color-icons            : rgb(255, 255, 255);
    



    --distance-primary       : 50px;
    --padding-primary        : calc(var(--distance-primary) - 10px);
    --margin-primary         : calc(var(--distance-primary));
    --border-radius-primary  : calc(var(--distance-primary) - var(--distance-primary));


    --font-family-primary    : 'Cairo',  'Roboto', 'Helvetica', 'Arial','sans-serif';


    --font-weight-bold       : 600;
    --font-weight-normal     : 400;

/*fonts Size*/
    /*-------------- title --------------*/
    --font-title-pc                : 50px;
    --font-title-tablet            : 40px;
    --font-title-mobile            : 30px;
    --font-title-small             : 20px;
    /*------------ paragraph ------------*/
    --font-paragraph-pc            : 18px;
    --font-paragraph-tablet        : 16px;
    --font-paragraph-mobile        : 14px;
    --font-paragraph-small         : 12px;
    /*--------------- txt ---------------*/
    --font-txt-pc                  : 16px;
    --font-txt-tablet              : 14px;
    --font-txt-mobile              : 12px;
    --font-txt-small               : 10px;

}

[data-theme='light'] {
    --body-bg-color          : #FFB74D;
    --container-bg-color     : #FFCC80;
    --section-bg-color       : #ddd;
    --header-bg-color        : var(--color-primary);
    --header-text-color      : var(--color-light);
    --nestedNav-bg-color     : var(--color-primary-light);
    --sidebar-bg-color       : var(--color-primary);
    --active-color           : var(--color-darkest);
    --cardTitle-color        : var(--color-darkest);
    --text-color             : var(--color-darkest);
    --border-color           : #ffffff2d;
    --hero-color             : transparent;
}







html{
    scroll-behavior: smooth !important;
    scroll-padding-top: 100px;
}

*,::after,::before { box-sizing: border-box ; }


::-webkit-scrollbar             {  width           : 6px                        ; }
::-webkit-scrollbar-track       {  background-color: var(--color-dark)          ; }
::-webkit-scrollbar-thumb       {  background-color: var(--color-primary)       ; }
::-webkit-scrollbar-thumb:hover {  background-color: rgb(214, 140, 3)         ; }

::selection                     {  color: var( --color-light ) ; background: var( --color-primary ) ; }


body{
    background-color: var(--body-bg-color);
    font-family     : var(--font-family-primary);
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
p{
    color: var(--text-color);
}


